body {
  background-color: rgb(24, 23, 23); /* Cor de fundo preta */
  color: rgb(89, 224, 184); /* Cor do texto branca */
  font-family: 'Arial', sans-serif; /* Adicione uma fonte padrão se desejar */
  margin: 0;
}
.navigation {
  margin-top: 20px;
  background-color: #11171a; /* Azul claro */
  padding: 10px;
  border-radius: 5px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navigation li {
  margin: 0 10px;
}

.navigation a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navigation a:hover {
  color: #646cff;
}